@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@font-face 
{
    font-family: NeutralFace;
    src: url(../../../fonts/NeutralFace.otf);
}

#home-title
{
    font-size: 30px;
    font-family: NeutralFace;
    text-transform: uppercase;
}

#test-paragaraph
{
    font-size: 18px;
    font-family: Raleway;
}